.card {
    width: 100%;
    padding-top: var(--space-xl);
    padding-bottom: var(--space-xl);
    border-radius: 24px;
    background-color: var(--white-color);
    padding-inline: var(--space-lg);
}