@import url('@/styles');

:root {
    --primary-base-color: 37deg 95% 56%;
    --secondary-base-color: 237deg 54% 60%;
    --thertiary-base-color: 218deg 52% 24%;
    --success-base-color: 145deg 43% 56%;
    --success-base-color-alt: 145deg 50% 62%;
    --error-base-color: 0deg 71% 71%;
    --primary-color: hsl(var(--primary-base-color) / 100%);
    --secondary-color: hsl(var(--secondary-base-color) / 100%);
    --thertiary-color: hsl(var(--thertiary-base-color) / 100%);
    --success-color: hsl(var(--success-base-color) / 100%);
    --error-color: hsl(var(--error-base-color) / 100%);
    --white-color: hsl(0deg 0% 100%);

    /* fonts */
    --font-sans: 'Poppins', sans-serif;

    /* spaces */
    --space-xs: 8px;
    --space-sm: 16px;
    --space-md: 24px;
    --space-lg: 32px;
    --space-xl: 40px;
    --space-2xl: 48px;

    /* spacing */
    --spacing-md: calc(25 / 16 * 1rem);

}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('@/assets/images/background.png');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: var(--font-sans);
    font-weight: 500;
}