.quiz {
    position: relative;
    max-width: 460px;
}

.quiz__adventure {
    position: absolute;
    display: none;
}

.quiz__header {
    display: flex;
    align-items: center;
}

.quiz__header > *:nth-last-child(1) {
    margin-left: auto;
}

@media (width >= 768px) {
    .quiz__adventure {
        top: 0;
        right: 0;
        display: block;
        width: 162px;

        --height-adventure: 116px;

        height: var(--height-adventure);
        margin-top: calc(var(--height-adventure) * -1) ;

    }
}