.quiz {
    position: relative;
    max-width: 460px;
}

.quiz__adventure {
    display: none;
}

.quiz__header {
    display: flex;
    align-items: center;
}

.quiz__header > *:nth-last-child(1) {
    margin-left: auto;
}

@media (width >= 768px) {
    .quiz__adventure {
        display: block;

        --height-adventure: 116px;
        
        width: 162px;
        height: var(--height-adventure);
        margin: calc(var(--height-adventure) * -1 ) calc(var(--space-lg) * -1) var(--spacing-md) auto;
    }
}